body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CFD8DC;

}

header {
  background-color: #455A64;
  color: #FFFFFF;
  padding: 10px;
  position: relative;
}

h1 {
  margin: 10px auto;
  text-align: center;
}

section {
  display: block;
}

a {
  border-bottom: 1px solid #F2F4F4;
  color: #607D8B;
  text-decoration: none;
}

a:hover, .mark-as-read:hover, .remove:hover {
  color: #455A64;
  cursor: pointer;
  font-weight: 800;
}

.counter-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: 1.5em
}

.h1-text-linked, .h1-text-list {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 1px;
}

.logo {
  display: inline-block;
  height: 2em;
  width: 3em;
  vertical-align: baseline;
}

input {
  border: 1px solid #D3D3D3;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 2px;
}

input, .enter {
  border: none;
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 90%;
}

.enter, .enter:hover {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
  height: 2.3em;
  letter-spacing: 1px;
  width: 93%;
}

.clear-read {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  font-weight: 800;
  height: 35px;
  letter-spacing: .2px;
  margin: 15px auto;
  padding: 5px;
  width: 120px;
}

.clear-read:hover {
  background-color: #FFD773;
  border: none;
  color: #FFFFFF;
}

.clear-read[disabled]:hover, .enter[disabled]:hover {
  background-color: #FFC107;
}

.enter:hover {
  background-color: #FFD773;
}

input:focus, button:focus {
  box-shadow: none;
  outline: 0;
}


.bookmark-section {
  background-color: #CFD8DC;
  display: block;
  padding-top: 10px;
  position: absolute;
  width: 100%;
}

.new-bookmark {
  background-color: white;
  border: 2px solid #607D8B;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
}

.new-title {
  border-bottom: 1px solid #CFD8DC;
  color: #455A64;
  font-size: 1.7em;
  font-weight: 800;
  letter-spacing: .5px;
  padding: 5px 0px 10px 0px;
}

.new-link {
  border-bottom: 1px solid #CFD8DC;
  color: #607D8B;
  font-size: 18px;
  padding: 15px 0px;
  text-decoration: none;
}

.mark-as-read, .remove {
  background-color: inherit;
  border: none;
  color: #607D8B;
  font-size: 16px;
  padding-top: 10px;
}

.remove {
  float: right;
}

.read {
  background-color: #F2F4F4;
}

.read a {
  border-bottom: 1px solid #CFD8DC;
}

.red {
  background-color: inherit;
  color: red;
  font-weight: 800;
}

.underlines:hover, a:hover {
  border-bottom: 1px solid #FFC107;
}

@media (min-width: 770px) {

header {
  height: 100%;
  padding: 0;
  position: fixed;
  width: 50%;
}

.header-full {
  margin: auto;
  margin-top: 25vh;
}

.h1-text-linked, .h1-text-list {
  display: inline-block;
  font-size: 300%;
  letter-spacing: 1px;
}

input, .enter, h1 {
  margin: 50px auto;
}

.logo {
  display: inline-block;
  height: 3em;
  width: 4em;
  vertical-align: top;
}

.bookmark-section {
  background-color: #CFD8DC;;
  position: absolute;
  right: 0;
  width: 50%;
}

.enter {
  margin-bottom: 10px;
}

.clear-read {
  margin-top: 10px;
}
};
