body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #455A64;
  color: #FFFFFF;
  padding: 10px;
  position: relative;
}

h1 {
  text-align: center;
  margin: 10px auto;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #CFD8DC;
  color: #607D8B;
}

a:hover, .mark-as-read:hover, .remove:hover {
  color: #455A64;
  font-weight: 800;
  cursor: pointer;
}

.counter-container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.h1-text-linked, .h1-text-list {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 1px;
}

.logo {
  height: 3em;
  width: 3em;
  display: inline-block;
  vertical-align: bottom;
}

input {
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 2px;
    border: 1px solid #D3D3D3;
}

input, .enter {
  display: block;
  margin: 20px auto;
  width: 90%;
  border: none;
  padding: 5px;
}

.enter, .enter:hover {
  background-color: #FFC107;
  color: #FFFFFF;
  border: none;
  font-weight: 800;
  height: 2.3em;
  width: 93%;
  font-size: 18px;
  letter-spacing: 1px;
}

.clear-read {
  color: #FFFFFF;
  background-color: #FFC107;
  font-weight: bold;
  letter-spacing: .2px;
  width: 100px;
  border: none;
  padding: 5px;
  display: block;
  margin: 2px auto;
}

.clear-read:hover {
  background-color: #FFD773;
  color: #FFFFFF;
  border: none;
}

.clear-read[disabled]:hover {
  background-color: #FFC107;
}

.enter:hover {
  background-color: #FFD773;
}

.enter[disabled]:hover {
  background-color: #FFC107;

}

input:focus, button:focus {
  outline: 0;
  box-shadow: none;
}


section {
  display: block;
}

.bookmark-section {
  background-color: #CFD8DC;
  display: block;
  position: absolute;
  width: 100%;
  height: 500%;
  padding-top: 10px;
}

.new-bookmark {
  background-color: white;
  width: 80%;
  border: 2px solid #607D8B;
  margin: 20px auto;
  padding: 10px;
}

/*.new-bookmark:hover {
  background-color: white;
}*/

.new-title {
  color: #455A64;
  border-bottom: 1px solid #CFD8DC;
  font-weight: 800;
  font-size: 1.5em;
  padding: 15px 0px;
}

.new-link {
  color: #607D8B;
  border-bottom: 1px solid #CFD8DC;
  text-decoration: none;
  padding: 15px 0px;
}

.mark-as-read, .remove {
  border: none;
  background-color: inherit;
}

.remove {
  float: right;
}

.read {
    background-color: #F2F4F4;

}

.red {
  color: red;
  font-weight: 800;
  background-color: inherit;
}

.underlines:hover, a:hover {
  border-bottom: 1px solid #FFC107;
}



@media (min-width: 770px) {

header {
  position: fixed;
  width: 50%;
  height: 100%;
  padding: 0;
}

.header-full {
  margin: auto;
  margin-top: 25vh;
}


.h1-text-linked, .h1-text-list {
  display: inline-block;
  font-size: 45px;
  letter-spacing: 1px;
}

input, .enter, h1 {
  margin: 50px auto;
}


.logo {
  height: 45px;
  width: 60px;
  display: inline-block;
  vertical-align: bottom;
}


.bookmark-section {
  height: 3000px;
  position: absolute;
  right: 0;
  width: 50%;
  background-color: #CFD8DC;
}
};
